<!DOCTYPE html>
<html>
  <head>
    <title>SurfLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Materialize (Material Design style) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="grey lighten-4">
    <header class="app-header">
      <div class="app-header-inner">
        <%= link_to "Surf Log", root_path, class: "app-logo" %>

        <div class="app-nav">
          <% if user_signed_in? %>
            <%= link_to mypage_path, class: "nav-icon-link", title: "マイページ" do %>
              <i class="material-icons">person</i>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>


    <main class="container" style="margin-top: 24px;">
      <% if notice.present? %>
        <div class="card-panel teal lighten-4 teal-text text-darken-4 flash-message">
          <%= notice %>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="card-panel red lighten-4 red-text text-darken-4 flash-message">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
